:root {
    --main-color: #32746D;
}

header.options {
    background: var(--main-color);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

table {
    width: min(95vw, 100vh);
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid var(--main-color);
}

button {
    margin: 0 20px;
    font-family: sans-serif;
    border: none;
    background: white;
    padding: 5px 10px;
    color: #111;
    transition: background 100ms;
}

button:hover {
    background: #b2dfdb;
}
